.heading-container {
  /* Specify your desired styling for the heading */
  font-size: 40px;
  letter-spacing: 0.5rem;
  font-family: "Montserrat";
  /* background-color: black; */
  margin-right: "40px";
}

/* Add a media query to hide the heading on small screens */
/* @media (max-width: 768px) {
  .heading-container {
    display: none;
  }
} */
@media (max-width: 1104px) {
  .heading-container {
    display: none;
  }
}
